* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  

}

.next-class {
    background-image: url('./images/b1.jpg');
   
}

.btn-cntr {
    display: flex;
    justify-content: center;
}

.for-cntr {
    line-height: 3rem;
    font-size: 1.3rem;
    width: 4.5rem;
    text-align: center;
    background-color: rgb(22, 94, 22);
    border-radius: 10px;
    color: white;
    border: none;
    margin-left: 1rem;
}
.cart{
   
    width:max-content;
    height: 400px;
    /* background-image: url('./images/cartimg.jpg'); */
   background-color: antiquewhite;
    /* background-color: transparent; */
    position: absolute;
    top:100px;
    right: 0px;
   display: none;
 
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: fixed;
   overflow: scroll;
   font-weight: 900;
   
}
.cart li{
    list-style: none;
    font-size: 2rem;
    word-spacing: 1rem;
    width: max-content;
    border-bottom: 3px solid black;
    
}
.run-time{
    height:100px;width:200px;
}
.run-img{
    height:100%;
    width:100%;
}
.run-btn{
    height:20px;
    width:20px;
}